.layout{
  padding : 15px;
}


.sidebar{
  background-color: #3f1bb6;
  padding: 10px;
  border-radius: 5px;
  color:white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item{
  display: flex;
  align-items: center;
  padding: 8px 30px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  gap: 15px;
}

.active-menu-item{
  border: 2px solid yellow;
  border-radius: 5px;
}

.body{
  width: 100%;
}

.header{
  background-color: #3f1bb6;
  color:white;
  width:100%;
  padding: 15px;
  border-radius: 5px;
  align-items: center;
}

